<main class="container-fuid mt-10">
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Stock Management System</h1>
    <p class="lead">
      In this project we have some customers and some products in inventory. We can create bill for
      customers by adding products to the bill. We can also update the inventory when we create a
      bill. We can also view the bill details and inventory details. Here We use ASP.NET Core Web
      API for backend and Angular for frontend. We use SQL Server for database. We use Bootstrap for
      styling
    </p>
    <a
      class="btn btn-lg btn-primary"
      href="https://github.com/ARJU7500/MyShop"
      role="button"
      target="_blank"
      >App Link &raquo;</a
    >
    &nbsp;
    <a
      class="btn btn-lg btn-primary"
      href="https://github.com/ARJU7500/MyShopAPI"
      role="button"
      target="_blank"
      >API Link &raquo;</a
    >
  </div>
</main>
